ENVIRONMENT=development
SERVICE_NAME=neuraclinic-auth
PORT=8000

DB_HOST=neuraclinic-auth-db
DB_PORT=5432
DB_USER=postgres
DB_PASS=example
DB_NAME=neuraclinic-auth
DB_SSLMODE=disable

GRPC_TLS_CERT_PATH=/app/certs/public_key.pem
GRPC_TLS_KEY_PATH=/app/certs/private_key.pem

USERS_GRPC_ADDR=neuraclinic-users:8000
USERS_GRPC_TLS_ENABLED=true
USERS_GRPC_CA_CERT_PATH=/app/users-certs/local_ca_cert.pem
USERS_GRPC_INSECURE_SKIP_VERIFY=false
INTERNAL_SERVICE_TOKEN=local-internal-service-token

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
PASSWORD_RESET_OTP_TTL=10m
PASSWORD_RESET_TOKEN_TTL=15m
PASSWORD_RESET_MAX_ATTEMPTS=5
TOKEN_HASH_SECRET=local-token-hash-secret-change-me

JWT_ACCESS_PRIVATE_KEY_PATH=/app/keys/private_access.pem
JWT_ACCESS_PUBLIC_KEY_PATH=/app/keys/public_access.pem
JWT_REFRESH_PRIVATE_KEY_PATH=/app/keys/private_refresh.pem
JWT_REFRESH_PUBLIC_KEY_PATH=/app/keys/public_refresh.pem

RABBITMQ_URL=amqp://guest:guest@neuraclinic-auth-rabbitmq:5672/
RABBITMQ_EXCHANGE=neuraclinic.events
RABBITMQ_PASSWORD_RESET_ROUTING_KEY=auth.password_reset_requested.v1
